<!DOCTYPE html>
<html>
<head>
    <title>Civic AI Detector</title>
</head>

<body style="font-family: Arial; text-align:center; margin-top:40px;">

    <h2>🚧 Civic Issue Detector</h2>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <br><br>
        <button type="submit">Predict</button>
    </form>

    {% if filename %}
        <h3>Uploaded Image:</h3>
        <img src="{{ url_for('uploaded_file', filename=filename) }}" width="300">
    {% endif %}

    {% if prediction %}
        <h3 style="color:green;">Prediction: {{ prediction }}</h3>
        <h4>Confidence: {{ confidence }}</h4>
        <p style="font-size:18px; color:#333;">
        <b>Description:</b> {{ description }}
        </p>
    {% endif %}

</body>
</html>